html {
    font-size: 16px;
}

body {
    background-color: #4b2165;
    overflow: hidden;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;    
}

header {
    height: 12%;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #fff;
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-size: 1.5rem;
}

header div,
header p,
header span {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.start-over {
    color: #4B2165;
    background-color: #00ffff;
    font-family: "Pacifico", cursive;
    font-weight: 100;
    height: 70%;
    width: 50%;
    border: 3px solid #fff;
}

button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

#star-one,
#star-two,
#star-three {
    color: #FFF;
}

.modal {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    color: #4b2165;
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.game-container {
    width: 100%;
    height: 88%;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(4, 125px);
    grid-gap: 15px;
    justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-self: center;
    margin-bottom: 15px;
}

.card {
    background-color: #00ffff;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 5rem;
    height: 125px;
    width: 125px;
}

/* thanks to CSS-Tricks for the hover effect! */
.card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

i {
    color: #4b2165;
}

.hide {
    visibility: hidden;
}

/* Media Queries */

@media screen and (max-width: 770px) {

    .time {
        font-size: 24px;     
        font-weight: 100;   
    }
    
    #total {
        display: none;
    }

    .guesses {
        text-transform: capitalize;
    }    

    #game-container {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-self: center;
    }
}

@media screen and (max-width: 736px) {

    header {
        height: 15%;
    }

    .start-over {
        height: 75%;
        width: 75%;
        font-size: 16px;
    }

    .time,
    .guesses {
        font-size: 20px;
        justify-self: start;
    }

    #stars {
        width: 15%;
    }   

    #game-container {
        height: 85%;
        width: 50%;
        grid-template-columns: repeat(4, 55px);
        grid-template-rows: repeat(4, 55px); 
        grid-gap: 10px;
    }

    .card {
        height: 100%;
        width: 100%;
    }

    div i {
        font-size: 32px;
    }

    .modal {
        width: 100%;
        height: 85%;
    }

    .modal-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {

    header {
        height: 30%;
        display: grid !important;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    }

    #header-button-container {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        justify-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    }

    .start-over {
        height: 75%;
        width: auto;
        font-size: 24px;        
    }

    .time {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        -ms-flex-item-align: center;
            align-self: center;
        font-size: 24px;
        width: 100%;
    }

    #stars {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    }

    .guesses {
        grid-column: 2; 
        grid-row: 2;
        justify-self: center;
        -ms-flex-item-align: center;
            align-self: center;
        font-size: 26px;
        width: 100%;
    }

    #game-container {
        grid-column: 1 / -1;
        grid-row: 1;
        width: 100%;
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: repeat(4, 75px); 
        grid-gap: 10px;
    }

    div i {
        font-size: 40px;
    }

}

