html {
    font-size: 16px;
}

body {
    background-color: #4B2165;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

header {
    height: 15%;
}

.title {
    color: #FFF;
    font-family: 'Pacifico', cursive;  
    font-size: 48px;  
    font-weight: 100;
}

.game-container {
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-gap: 25px;
}

.card {
    border: 2px solid black;
}